In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns',5000)

In [2]:
df = pd.read_csv('D:\\Downloads\\ML projects\\invest\\dataset\\df.csv',index_col=[0])
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36
0,2166.000000,2166.000000,2118.000000,2122.649902,2166.000000,2166.000000,2118.000000,2122.649902,2088.350098,2132.350098,2066.500000,2129.149902,2166.000000,2166.000000,2118.000000,2122.649902,2070.000000,2109.699951,2043.699951,2060.350098,2088.350098,2132.350098,2066.500000,2129.149902,2054.00,2065.000000,2025.000000,2058.050049,2070.000000,2109.699951,2043.699951,2060.350098,2054.000000,2065.000000,2025.000000,2058.050049,0
1,2166.000000,2166.000000,2118.000000,2122.649902,2166.000000,2166.000000,2118.000000,2122.649902,2088.350098,2132.350098,2066.500000,2129.149902,2166.000000,2166.000000,2118.000000,2122.649902,2070.000000,2109.699951,2043.699951,2060.350098,2088.350098,2132.350098,2066.500000,2129.149902,2054.00,2065.000000,2025.000000,2058.050049,2070.000000,2109.699951,2043.699951,2060.350098,2054.000000,2065.000000,2025.000000,2058.050049,0
2,2166.000000,2166.000000,2118.000000,2122.649902,2088.350098,2132.350098,2066.500000,2129.149902,2166.000000,2166.000000,2118.000000,2122.649902,2070.000000,2109.699951,2043.699951,2060.350098,2088.350098,2132.350098,2066.500000,2129.149902,2054.000000,2065.000000,2025.000000,2058.050049,2070.00,2109.699951,2043.699951,2060.350098,2054.000000,2065.000000,2025.000000,2058.050049,2044.500000,2061.850098,2016.000000,2041.900024,0
3,2088.350098,2132.350098,2066.500000,2129.149902,2166.000000,2166.000000,2118.000000,2122.649902,2070.000000,2109.699951,2043.699951,2060.350098,2088.350098,2132.350098,2066.500000,2129.149902,2054.000000,2065.000000,2025.000000,2058.050049,2070.000000,2109.699951,2043.699951,2060.350098,2054.00,2065.000000,2025.000000,2058.050049,2044.500000,2061.850098,2016.000000,2041.900024,2050.000000,2073.949951,2001.000000,2047.599976,0
4,2070.000000,2109.699951,2043.699951,2060.350098,2088.350098,2132.350098,2066.500000,2129.149902,2054.000000,2065.000000,2025.000000,2058.050049,2070.000000,2109.699951,2043.699951,2060.350098,2054.000000,2065.000000,2025.000000,2058.050049,2044.500000,2061.850098,2016.000000,2041.900024,2050.00,2073.949951,2001.000000,2047.599976,2044.500000,2061.850098,2016.000000,2041.900024,1976.000000,2015.900024,1956.650024,2000.849976,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,548.900024,552.000000,543.000000,544.099976,542.500000,547.299988,538.250000,545.650024,548.900024,552.000000,543.000000,544.099976,548.750000,557.000000,535.049988,541.400024,542.500000,547.299988,538.250000,545.650024,554.000000,554.200012,546.450012,548.450012,548.75,557.000000,535.049988,541.400024,554.000000,554.200012,546.450012,548.450012,553.799988,553.799988,549.000000,549.799988,0
19996,548.900024,552.000000,543.000000,544.099976,542.500000,547.299988,538.250000,545.650024,548.900024,552.000000,543.000000,544.099976,548.750000,557.000000,535.049988,541.400024,542.500000,547.299988,538.250000,545.650024,554.000000,554.200012,546.450012,548.450012,548.75,557.000000,535.049988,541.400024,554.000000,554.200012,546.450012,548.450012,553.799988,553.799988,549.000000,549.799988,0
19997,542.500000,547.299988,538.250000,545.650024,548.900024,552.000000,543.000000,544.099976,548.750000,557.000000,535.049988,541.400024,542.500000,547.299988,538.250000,545.650024,554.000000,554.200012,546.450012,548.450012,548.750000,557.000000,535.049988,541.400024,554.00,554.200012,546.450012,548.450012,553.799988,553.799988,549.000000,549.799988,555.000000,557.750000,548.900024,549.750000,0
19998,548.750000,557.000000,535.049988,541.400024,542.500000,547.299988,538.250000,545.650024,554.000000,554.200012,546.450012,548.450012,548.750000,557.000000,535.049988,541.400024,554.000000,554.200012,546.450012,548.450012,553.799988,553.799988,549.000000,549.799988,555.00,557.750000,548.900024,549.750000,553.799988,553.799988,549.000000,549.799988,566.250000,566.250000,547.500000,550.349976,0
19999,554.000000,554.200012,546.450012,548.450012,548.750000,557.000000,535.049988,541.400024,554.000000,554.200012,546.450012,548.450012,553.799988,553.799988,549.000000,549.799988,555.000000,557.750000,548.900024,549.750000,553.799988,553.799988,549.000000,549.799988,566.25,566.250000,547.500000,550.349976,555.000000,557.750000,548.900024,549.750000,562.000000,567.049988,555.599976,563.950012,0

In [4]:
df.columns

Index(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36'],
      dtype='object')

# Understanding Data

In [5]:
df.shape

(20000, 37)

In [6]:
df.sample(5)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36
2604,7500.000000,7600.250000,7453.000000,7579.100098,7570.200195,7600.950195,7410.000000,7452.700195,7500.000000,7600.250000,7453.000000,7579.100098,7545.000000,7610.000000,7505.000000,7581.450195,7570.200195,7600.950195,7410.000000,7452.700195,7700.000000,7754.399902,7550.000000,7577.500000,7545.000000,7610.000000,7505.000000,7581.450195,7543.899902,7713.149902,7486.0,7673.649902,7700.000000,7754.399902,7550.000000,7577.500000,1
827,1795.099976,1887.000000,1760.000000,1885.199951,1875.400024,1900.449951,1840.000000,1868.300049,1709.550049,1875.250000,1709.550049,1797.150024,1795.099976,1887.000000,1760.000000,1885.199951,1802.000000,1865.500000,1799.500000,1799.500000,1709.550049,1875.250000,1709.550049,1797.150024,1924.599976,1950.000000,1894.199951,1894.199951,1802.000000,1865.500000,1799.5,1799.500000,1924.599976,1950.000000,1894.199951,1894.199951,1
13402,1660.000000,1664.949951,1625.000000,1639.199951,1645.750000,1648.150024,1593.800049,1603.000000,1708.099976,1709.000000,1656.349976,1662.099976,1660.000000,1664.949951,1625.000000,1639.199951,1693.550049,1721.949951,1652.599976,1712.800049,1708.099976,1709.000000,1656.349976,1662.099976,1693.550049,1721.949951,1652.599976,1712.800049,1699.800049,1709.650024,1678.0,1691.349976,1680.000000,1706.800049,1648.500000,1686.449951,0
2803,243.399994,255.250000,229.550003,252.899994,260.000000,260.000000,251.399994,255.050003,255.850006,262.200012,254.699997,259.000000,260.000000,260.000000,251.399994,255.050003,249.000000,256.500000,247.000000,252.800003,255.850006,262.200012,254.699997,259.000000,251.000000,253.000000,243.399994,246.199997,249.000000,256.500000,247.0,252.800003,264.000000,264.000000,244.600006,246.550003,0
106,2268.100098,2304.550049,2250.100098,2262.199951,2248.149902,2278.750000,2229.600098,2264.649902,2268.100098,2304.550049,2250.100098,2262.199951,2296.000000,2332.449951,2248.000000,2253.449951,2248.149902,2278.750000,2229.600098,2264.649902,2283.149902,2322.949951,2269.850098,2286.399902,2296.000000,2332.449951,2248.000000,2253.449951,2280.000000,2325.000000,2240.0,2289.600098,2283.149902,2322.949951,2269.850098,2286.399902,1

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20000 entries, 0 to 19999
Data columns (total 37 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       20000 non-null  float64
 1   1       20000 non-null  float64
 2   2       20000 non-null  float64
 3   3       20000 non-null  float64
 4   4       20000 non-null  float64
 5   5       20000 non-null  float64
 6   6       20000 non-null  float64
 7   7       20000 non-null  float64
 8   8       20000 non-null  float64
 9   9       20000 non-null  float64
 10  10      20000 non-null  float64
 11  11      20000 non-null  float64
 12  12      20000 non-null  float64
 13  13      20000 non-null  float64
 14  14      20000 non-null  float64
 15  15      20000 non-null  float64
 16  16      20000 non-null  float64
 17  17      20000 non-null  float64
 18  18      20000 non-null  float64
 19  19      20000 non-null  float64
 20  20      20000 non-null  float64
 21  21      20000 non-null  float64
 22  22      20000 non-null  float64
 23  23      20000 non-null  float64
 24  24      20000 non-null  float64
 25  25      20000 non-null  float64
 26  26      20000 non-null  float64
 27  27      20000 non-null  float64
 28  28      20000 non-null  float64
 29  29      20000 non-null  float64
 30  30      20000 non-null  float64
 31  31      20000 non-null  float64
 32  32      20000 non-null  float64
 33  33      20000 non-null  float64
 34  34      20000 non-null  float64
 35  35      20000 non-null  float64
 36  36      20000 non-null  int64
dtypes: float64(36), int64(1)
memory usage: 5.8 MB

In [8]:
df.isnull().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
30    0
31    0
32    0
33    0
34    0
35    0
36    0
dtype: int64

In [9]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36
count,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000
mean,2653.247795,2686.160866,2613.685082,2648.216049,2656.180940,2688.593247,2618.502769,2651.733912,2653.624187,2686.536797,2614.011371,2648.365748,2655.691115,2689.010661,2618.929219,2652.221913,2656.022245,2688.614284,2616.214461,2650.803182,2654.222004,2689.044447,2617.556804,2652.928891,2655.683558,2689.411944,2616.681456,2651.905250,2655.356345,2688.647491,2615.901696,2650.695767,2654.024530,2688.600564,2615.150801,2652.096264,0.437850
std,4391.943302,4443.453757,4328.842631,4384.188702,4396.326683,4446.382016,4334.828954,4388.634607,4393.043508,4444.315293,4329.703505,4384.550531,4397.436673,4449.097892,4337.308131,4390.201724,4397.613694,4449.300890,4333.920396,4388.939071,4396.071798,4450.741418,4336.410942,4393.241300,4398.638947,4452.307230,4336.115649,4391.582581,4397.351844,4449.565818,4334.254951,4389.704027,4396.781010,4451.171785,4334.552565,4393.843849,0.496135
min,12.150000,12.450000,12.100000,12.150000,12.150000,12.700000,12.100000,12.400000,12.150000,12.450000,12.100000,12.150000,12.150000,12.700000,12.100000,12.400000,12.150000,12.450000,12.100000,12.150000,12.150000,12.700000,12.100000,12.400000,12.150000,12.450000,12.100000,12.150000,12.150000,12.450000,12.100000,12.150000,12.150000,12.450000,12.100000,12.150000,0.000000
25%,516.762512,523.724976,508.750000,515.237488,517.000000,523.724976,509.000000,515.700012,516.950012,523.900024,509.000000,515.299988,516.000000,523.250000,508.875000,515.875015,517.000000,523.200012,508.937500,515.500000,516.762512,523.200012,508.875000,515.700012,516.000000,523.250000,509.000000,515.799988,518.549988,523.887512,509.049988,515.700012,518.262482,523.699982,509.037491,515.875015,0.000000
50%,1170.075012,1184.324951,1153.924988,1169.699951,1172.000000,1186.450012,1155.199951,1170.924988,1170.025024,1182.575012,1154.550049,1168.750000,1170.900024,1182.500000,1155.500000,1170.924988,1170.000000,1183.000000,1152.200012,1168.575012,1170.000000,1184.449951,1153.250000,1170.174988,1170.000000,1184.449951,1152.750000,1169.325012,1169.900024,1182.250000,1153.174988,1168.750000,1168.050049,1181.474976,1150.825012,1167.399963,0.000000
75%,2691.700073,2724.712402,2657.250000,2686.800049,2697.000000,2729.924927,2662.000000,2692.812561,2695.000000,2727.237488,2660.000000,2687.962463,2698.500000,2734.500000,2662.112549,2694.799988,2698.000000,2732.275024,2662.949951,2698.550049,2696.800049,2732.000000,2662.000000,2699.250000,2697.250000,2734.449951,2667.399902,2699.250000,2700.000000,2730.000000,2662.050049,2698.550049,2700.400085,2734.050049,2665.012512,2700.525024,1.000000
max,31043.500000,31469.949219,30650.000000,31040.449219,31043.500000,31469.949219,30650.000000,31040.449219,31043.500000,31469.949219,30650.000000,31040.449219,31043.500000,31469.949219,30650.000000,31040.449219,31043.500000,31469.949219,30650.000000,31040.449219,31043.500000,31469.949219,30650.000000,31040.449219,31043.500000,31469.949219,30650.000000,31040.449219,31043.500000,31469.949219,30650.000000,31040.449219,31043.500000,31469.949219,30650.000000,31040.449219,1.000000

In [10]:
df.duplicated().sum()

3284

In [11]:
df.corr()['36']

0     0.004362
1     0.004617
2     0.004467
3     0.004612
4     0.004047
5     0.004358
6     0.004070
7     0.004357
8     0.004549
9     0.004849
10    0.004765
11    0.004804
12    0.004088
13    0.004135
14    0.004173
15    0.004334
16    0.003965
17    0.004366
18    0.004278
19    0.004406
20    0.004163
21    0.004204
22    0.004258
23    0.004151
24    0.000981
25    0.002700
26    0.002821
27    0.004201
28    0.001098
29    0.002823
30    0.002857
31    0.004206
32    0.000189
33    0.000069
34    0.000308
35    0.000089
36    1.000000
Name: 36, dtype: float64

# Feature Engineering

In [11]:
# missing values drop
df = df.dropna()

In [12]:
df.isnull().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
30    0
31    0
32    0
33    0
34    0
35    0
36    0
dtype: int64

In [13]:
df.shape

(19955, 37)

In [14]:
# drop duplicates
df.drop_duplicates(keep = 'first', inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

# Train Test Split

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
x = df.drop(['36'],axis=1)
y = df['36']

In [17]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.20, random_state=42)

# Column Trans and Pipeline

In [24]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.pipeline import Pipeline
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import StratifiedKFold
from imblearn.combine import SMOTETomek

In [19]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from xgboost import XGBClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC

In [25]:
cols = []
for i in range(0,36):
    cols.append(i)

ct = ColumnTransformer(transformers=[
    ('ct1',StandardScaler(),cols)
],remainder='passthrough')

In [27]:
# comparing different classification models using sklearn pipeline

models = [LogisticRegression(),
          DecisionTreeClassifier(),
          RandomForestClassifier(),
          AdaBoostClassifier(),
          GradientBoostingClassifier(),
          XGBClassifier(),
          KNeighborsClassifier(),
          SVC()]
          
    
model_labels = [
        'model_lr',
        'model_dt',
        'model_rf',
        'model_ab',
        'model_gb',
        'model_xg',
        'model_knn',
        'model_svc'
]

accuracy_mean_scores = []

for model in models:

    pipeline = Pipeline([
                        ('columnTransformer', ct),
                        # ('resample', SMOTETomek()),
                        ('model', model)
    ])
    accuracy_mean = cross_val_score(pipeline, x, y, cv=StratifiedKFold(n_splits=10), scoring='accuracy',n_jobs=-1).mean()
    accuracy_mean_scores.append(accuracy_mean)

/usr/local/lib/python3.7/dist-packages/joblib/externals/loky/process_executor.py:705: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning

In [28]:
accuracy_mean_scores

[0.6005767787017786,
 0.5677827587202587,
 0.6030407571032572,
 0.5535469724532225,
 0.5630377252252252,
 0.5593741337491338,
 0.5650183356433357,
 0.5559493387618387]

In [ ]:
# we choose lr and rf, now tune the parameters

# HyperParameter Tuning

In [29]:
from sklearn.model_selection import RandomizedSearchCV

In [30]:
# for logistic Regression

params = {
    'model__penalty'  :  ['l1', 'l2', 'elasticnet','none'],
    'model__C'        :  np.logspace(-4, 4, 20),
    'model__solver'   :  ['lbfgs','newton-cg','liblinear','sag','saga'],
    'model__max_iter' :  [100, 1000,2500, 5000],
    'model__multi_class'       :  ['auto', 'ovr', 'multinomial']
    }

In [31]:
pipeline = Pipeline([
                      ('columnTransformer', ct),
                      ('model', LogisticRegression())
])

In [32]:
random_search = RandomizedSearchCV(pipeline,param_distributions=params,scoring='accuracy',n_jobs=-1,cv=StratifiedKFold(n_splits=10))

In [ ]:
random_search.fit(x_train, y_train)

In [ ]:
random_search.best_params_

{'model__C': 4.281332398719396,
 'model__max_iter': 1000,
 'model__multi_class': 'ovr',
 'model__penalty': 'none',
 'model__solver': 'lbfgs'}

In [ ]:
random_search.best_score_

0.6849622537639067

In [37]:
pipeline = Pipeline([
                      ('columnTransformer', ct),
                      ('model', LogisticRegression(C = 4.281332398719396, 
                                                  max_iter = 1000,
                                                  multi_class = 'ovr',
                                                  penalty = 'none',
                                                  solver = 'lbfgs'))                                                                 
                  ])

In [34]:
accuracy_score = cross_val_score(pipeline, x, y, scoring='accuracy', cv=StratifiedKFold(n_splits=10), n_jobs=-1).mean()
accuracy_score

0.6845455792330793

In [ ]:
# for rf

n_estimators = [int(x) for x in np.linspace(start = 1, stop = 20, num = 20)]  # number of trees in the random forest
max_features = ['auto', 'sqrt']                                               # number of features in consideration at every split
max_depth = [int(x) for x in np.linspace(10, 120, num = 12)]                  # maximum number of levels allowed in each decision tree
min_samples_split = [2, 6, 10]                                                # minimum sample number to split a node
min_samples_leaf = [1, 3, 4]                                                  # minimum sample number that can be stored in a leaf node
bootstrap = [True, False]                                                     # method used to sample data points

params = {
      'model__n_estimators': n_estimators,
      'model__max_features': max_features,
      'model__max_depth': max_depth,
      'model__min_samples_split': min_samples_split,
      'model__min_samples_leaf': min_samples_leaf,
      'model__bootstrap': bootstrap
        }

In [ ]:
pipeline = Pipeline([
                      ('columnTransformer', ct),
                      ('model', RandomForestClassifier())
])

In [ ]:
random_search = RandomizedSearchCV(pipeline,param_distributions=params,scoring='accuracy',n_jobs=-1,cv=StratifiedKFold(n_splits=10))

In [ ]:
random_search.fit(x_train, y_train)

In [ ]:
random_search.best_params_

{'model__bootstrap': True,
 'model__max_depth': 60,
 'model__max_features': 'auto',
 'model__min_samples_leaf': 4,
 'model__min_samples_split': 6,
 'model__n_estimators': 19}

In [ ]:
random_search.best_score_

0.6164875807437791

In [35]:
pipeline = Pipeline([
                      ('columnTransformer', ct),
                      ('model', RandomForestClassifier(
                                      bootstrap = True,
                                      max_depth = 60,
                                      max_features = 'auto',
                                      min_samples_leaf = 4,
                                      min_samples_split = 6,
                                      n_estimators = 19))                                                                                                           
                  ])

In [36]:
accuracy_score = cross_val_score(pipeline, x, y, scoring='accuracy', cv=StratifiedKFold(n_splits=10), n_jobs=-1).mean()
accuracy_score

0.591629056941557

In [39]:
pipeline.fit(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:1484: UserWarning: Setting penalty='none' will ignore the C and l1_ratio parameters
  "Setting penalty='none' will ignore the C and l1_ratio parameters"

Pipeline(steps=[('columnTransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('ct1', StandardScaler(),
                                                  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9,
                                                   10, 11, 12, 13, 14, 15, 16,
                                                   17, 18, 19, 20, 21, 22, 23,
                                                   24, 25, 26, 27, 28, 29, ...])])),
                ('model',
                 LogisticRegression(C=4.281332398719396, max_iter=1000,
                                    multi_class='ovr', penalty='none'))])

In [ ]:
# lr : 0.6849622537639067
# rf : 0.6149868125074736
# We choose lr

# Model Testing

In [38]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, precision_score, recall_score, accuracy_score, f1_score, matthews_corrcoef, balanced_accuracy_score
from sklearn import metrics

In [42]:
# Training Accuracy
pipeline.score(x_train,y_train)

0.6881898040393423

In [43]:
y_pred = pipeline.predict(x_test)

In [44]:
# Testing Accuracy
metrics.accuracy_score(y_test,y_pred)

0.6852852852852853

# Saving Model

In [5]:
import joblib
joblib.dump(pipeline, 'pipeline.joblib')